<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>

            
            <!-- I added the below -->
            <li class="divider"></li>
            <li class="chapter"><a href="https://www.linkedin.com/in/jeongbin-park-04aa66246/" rel="noopener">Who am I?</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/" rel="noopener">Originally, I wrote them in Korean!</a></li>
            <li class="chapter"><a href="mailto:nate9389@gmail.coml" rel="noopener">jeongbp@umich.edu</a></li>
            
            <!-- I added the below -->

            <li class="divider"></li>
            <li class="header">Ⅰ. Nature Science</li>
            <li class="chapter{% if page.url == '/pages/482' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/482' | relative_url }}">
              <a href="{{ '/pages/482' | relative_url }}" rel="noopener">Philosophy</a>
            </li>
            <li class="chapter{% if page.url == '/pages/764' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/764' | relative_url }}">
              <a href="{{ '/pages/764' | relative_url }}" rel="noopener">General Mathematics</a>
            </li>
            <li class="chapter{% if page.url == '/pages/659' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/659' | relative_url }}">
              <a href="{{ '/pages/659' | relative_url }}" rel="noopener">Geometry</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1014' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1014' | relative_url }}">
              <a href="{{ '/pages/1014' | relative_url }}" rel="noopener">Algebra</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1829' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1829' | relative_url }}">
              <a href="{{ '/pages/1829' | relative_url }}" rel="noopener">Calculus</a>
            </li>
            <li class="chapter{% if page.url == '/pages/167' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/167' | relative_url }}">
              <a href="{{ '/pages/167' | relative_url }}" rel="noopener">Number Theory</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1641' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1641' | relative_url }}">
              <a href="{{ '/pages/1641' | relative_url }}" rel="noopener">Combinatorics·Statistics</a>
            </li>
            <li class="chapter{% if page.url == '/pages/660' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/660' | relative_url }}">
              <a href="{{ '/pages/660' | relative_url }}" rel="noopener">Modern Mathematics</a>
            </li>
            <li class="chapter{% if page.url == '/pages/341' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/341' | relative_url }}">
              <a href="{{ '/pages/341' | relative_url }}" rel="noopener">Cryptography·Security</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1278' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1278' | relative_url }}">
              <a href="{{ '/pages/1278' | relative_url }}" rel="noopener">Algorithm·Machine Learning</a>
            </li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20KMC%20%EC%88%98%ED%95%99%EA%B2%BD%EC%8B%9C%EB%8C%80%ED%9A%8C%20%EA%B3%A0%EB%93%B1%EB%B6%80">KMC Math Competition</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20%ED%95%9C%EA%B5%AD%EC%88%98%ED%95%99%EC%98%AC%EB%A6%BC%ED%94%BC%EC%95%84%EB%93%9C%20%EA%B3%A0%EB%93%B1%EB%B6%80">Korean Mathematical Olympiad</a></li>
            <li class="chapter{% if page.url == '/pages/2185' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/2185' | relative_url }}">
              <a href="{{ '/pages/2185' | relative_url }}" rel="noopener">Korean Undergraduate Mathematics Competition</a>
            </li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20%EB%8F%84%EC%8B%9C%EB%8C%80%ED%95%AD%EA%B5%AD%EC%A0%9C%ED%86%A0%EB%84%88%EB%A8%BC%ED%8A%B8%28Toft%29">Tournament of Towns for Math Competition</a></li>
            <li class="chapter{% if page.url == '/pages/725' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/725' | relative_url }}">
              <a href="{{ '/pages/725' | relative_url }}" rel="noopener">Physics</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1592' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1592' | relative_url }}">
              <a href="{{ '/pages/1592' | relative_url }}" rel="noopener">Thermodynamics</a>
            </li>
            <li class="chapter{% if page.url == '/pages/737' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/737' | relative_url }}">
              <a href="{{ '/pages/737' | relative_url }}" rel="noopener">Hydrodynamics·Transfer Phenomenon</a>
            </li>
            <li class="chapter{% if page.url == '/pages/218' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/218' | relative_url }}">
              <a href="{{ '/pages/218' | relative_url }}" rel="noopener">Material·Solid Mechanics</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1980' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1980' | relative_url }}">
              <a href="{{ '/pages/1980' | relative_url }}" rel="noopener">Mechanical Engineering</a>
            </li>
            <li class="chapter{% if page.url == '/pages/852' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/852' | relative_url }}">
              <a href="{{ '/pages/852' | relative_url }}" rel="noopener">Circuit Theory</a>
            </li>
            <li class="chapter{% if page.url == '/pages/2092' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/2092' | relative_url }}">
              <a href="{{ '/pages/2092' | relative_url }}" rel="noopener">Electrical Engineering</a>
            </li>
            <li class="chapter{% if page.url == '/pages/613' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/613' | relative_url }}">
              <a href="{{ '/pages/613' | relative_url }}" rel="noopener">Signal Processing</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1909' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1909' | relative_url }}">
              <a href="{{ '/pages/1909' | relative_url }}" rel="noopener">Control Theory</a>
            </li>
            <li class="chapter{% if page.url == '/pages/788' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/788' | relative_url }}">
              <a href="{{ '/pages/788' | relative_url }}" rel="noopener">Computer Science</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1563' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1563' | relative_url }}">
              <a href="{{ '/pages/1563' | relative_url }}" rel="noopener">Logic Design</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1771' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1771' | relative_url }}">
              <a href="{{ '/pages/1771' | relative_url }}" rel="noopener">Operating System</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1796' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1796' | relative_url }}">
              <a href="{{ '/pages/1796' | relative_url }}" rel="noopener">Information Technology</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1565' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1565' | relative_url }}">
              <a href="{{ '/pages/1565' | relative_url }}" rel="noopener">Information Management Engineering</a>
            </li>
            <li class="chapter{% if page.url == '/pages/373' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/373' | relative_url }}">
              <a href="{{ '/pages/373' | relative_url }}" rel="noopener">Big Data Analysis</a>
            </li>
            <li class="chapter{% if page.url == '/pages/802' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/802' | relative_url }}">
              <a href="{{ '/pages/802' | relative_url }}" rel="noopener">C,C++</a>
            </li>
            <li class="chapter{% if page.url == '/pages/903' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/903' | relative_url }}">
              <a href="{{ '/pages/903' | relative_url }}" rel="noopener">Java</a>
            </li>
            <li class="chapter{% if page.url == '/pages/786' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/786' | relative_url }}">
              <a href="{{ '/pages/786' | relative_url }}" rel="noopener">Python</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1761' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1761' | relative_url }}">
              <a href="{{ '/pages/1761' | relative_url }}" rel="noopener">RStudio</a>
            </li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20%EC%9B%B9%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D">Web Programming</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20%EA%B8%B0%ED%83%80%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%20%EC%96%B8%EC%96%B4">Other Programming Language</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20IoT" rel="noopener">IoT</a></li>
            <li class="chapter{% if page.url == '/pages/1362' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1362' | relative_url }}">
              <a href="{{ '/pages/1362' | relative_url }}" rel="noopener">Chemistry</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1483' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1483' | relative_url }}">
              <a href="{{ '/pages/1483' | relative_url }}" rel="noopener">Organic Chemistry</a>
            </li>
            <li class="chapter{% if page.url == '/pages/2396' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/2396' | relative_url }}">
              <a href="{{ '/pages/2396' | relative_url }}" rel="noopener">Chemoinformatics</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1488' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1488' | relative_url }}">
              <a href="{{ '/pages/1488' | relative_url }}" rel="noopener">Dangerous Goods Engineering</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1457' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1457' | relative_url }}">
              <a href="{{ '/pages/1457' | relative_url }}" rel="noopener">Biology</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1202' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1202' | relative_url }}">
              <a href="{{ '/pages/1202' | relative_url }}" rel="noopener">Medical Imaging</a>
            </li>
            <li class="chapter{% if page.url == '/pages/577' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/577' | relative_url }}">
              <a href="{{ '/pages/577' | relative_url }}" rel="noopener">Neuroscience</a>
            </li>
            <li class="chapter{% if page.url == '/pages/836' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/836' | relative_url }}">
              <a href="{{ '/pages/836' | relative_url }}" rel="noopener">Bioinformatics</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1566' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1566' | relative_url }}">
              <a href="{{ '/pages/1566' | relative_url }}" rel="noopener">Earth Science</a>
            </li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20MEET%E2%88%99DEET%E2%88%99PEET%20%ED%92%80%EC%9D%B4" rel="noopener">MEET∙DEET∙PEET Solutions</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20%EB%B3%80%EB%A6%AC%EC%82%AC%20%ED%92%80%EC%9D%B4" rel="noopener">Korean Patent Attorney Exam</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%205%EA%B8%89%20%EA%B8%B0%EC%88%A0%EA%B3%A0%EC%8B%9C%20%ED%92%80%EC%9D%B4" rel="noopener">Korean Public Officer Exam</a></li>

            <li class="divider"></li>
            <li class="header">Ⅱ. Human Science</li>
            <li class="chapter{% if page.url == '/pages/523' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/523' | relative_url }}">
              <a href="{{ '/pages/523' | relative_url }}" rel="noopener">Psychology</a>
            </li>
            <li class="chapter{% if page.url == '/pages/2305' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/2305' | relative_url }}">
              <a href="{{ '/pages/2305' | relative_url }}" rel="noopener">Literature·Nonliterature</a>
            </li>
            <li class="chapter{% if page.url == '/pages/914' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/914' | relative_url }}">
              <a href="{{ '/pages/914' | relative_url }}" rel="noopener">Art</a>
            </li>
            <li class="chapter{% if page.url == '/pages/312' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/312' | relative_url }}">
              <a href="{{ '/pages/312' | relative_url }}" rel="noopener">Language</a>
            </li>
            <li class="chapter{% if page.url == '/pages/2175' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/2175' | relative_url }}">
              <a href="{{ '/pages/2175' | relative_url }}" rel="noopener">English</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1492' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1492' | relative_url }}">
              <a href="{{ '/pages/1492' | relative_url }}" rel="noopener">Spanish</a>
            </li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9D%B8%EB%AC%B8%EA%B3%BC%ED%95%99/%E2%96%B7%20%EC%A4%91%EA%B5%AD%EC%96%B4%C2%B7%ED%95%9C%EC%9E%90" rel="noopener">Chinese</a></li>
            <li class="chapter{% if page.url == '/pages/297' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/297' | relative_url }}">
              <a href="{{ '/pages/297' | relative_url }}" rel="noopener">Cooking</a>
            </li>
            <li class="chapter{% if page.url == '/pages/657' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/657' | relative_url }}">
              <a href="{{ '/pages/657' | relative_url }}" rel="noopener">Traveling</a>
            </li>
            <li class="chapter{% if page.url == '/pages/2194' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/2194' | relative_url }}">
              <a href="{{ '/pages/2194' | relative_url }}" rel="noopener">Studying Abroad</a>
            </li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9D%B8%EB%AC%B8%EA%B3%BC%ED%95%99/%E2%96%B7%20%EA%B8%B0%ED%83%80%20%EC%83%9D%ED%99%9C%EC%A0%95%EB%B3%B4" rel="noopener">Other Living Information</a></li>

            <li class="divider"></li>
            <li class="header">Ⅲ. Social Science</li>
            <li class="chapter{% if page.url == '/pages/1733' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1733' | relative_url }}">
              <a href="{{ '/pages/1733' | relative_url }}" rel="noopener">Law Theory</a>
            </li>
            <li class="chapter{% if page.url == '/pages/797' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/797' | relative_url }}">
              <a href="{{ '/pages/797' | relative_url }}" rel="noopener">Constitutional Law</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1797' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1797' | relative_url }}">
              <a href="{{ '/pages/1797' | relative_url }}" rel="noopener">Civil Law</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1722' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1722' | relative_url }}">
              <a href="{{ '/pages/1722' | relative_url }}" rel="noopener">Civil Procedure Act</a>
            </li>
            <li class="chapter{% if page.url == '/pages/2394' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/2394' | relative_url }}">
              <a href="{{ '/pages/2394' | relative_url }}" rel="noopener">Criminal Law</a>
            </li>
            <li class="chapter{% if page.url == '/pages/2395' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/2395' | relative_url }}">
              <a href="{{ '/pages/2395' | relative_url }}" rel="noopener">Criminal Procedure Act</a>
            </li>
            <li class="chapter{% if page.url == '/pages/224' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/224' | relative_url }}">
              <a href="{{ '/pages/224' | relative_url }}" rel="noopener">Intellectual Property Law</a>
            </li>
            <li class="chapter{% if page.url == '/pages/181' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/181' | relative_url }}">
              <a href="{{ '/pages/181' | relative_url }}" rel="noopener">Other Law</a>
            </li>
            <li class="chapter{% if page.url == '/pages/194' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/194' | relative_url }}">
              <a href="{{ '/pages/194' | relative_url }}" rel="noopener">Collective Behavioral Science</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1033' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1033' | relative_url }}">
              <a href="{{ '/pages/1033' | relative_url }}" rel="noopener">Business Management</a>
            </li>
            <li class="chapter{% if page.url == '/pages/1880' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1880' | relative_url }}">
              <a href="{{ '/pages/1880' | relative_url }}" rel="noopener">Microeconomics</a>
            </li>
            <li class="chapter{% if page.url == '/pages/2027' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/2027' | relative_url }}">
              <a href="{{ '/pages/2027' | relative_url }}" rel="noopener">Macroeconomics</a>
            </li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%82%AC%ED%9A%8C%EA%B3%BC%ED%95%99/%E2%96%B7%20%EC%A0%95%EC%B1%85%ED%95%99" rel="noopener">Policy</a></li>
            <li class="chapter{% if page.url == '/pages/305' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/305' | relative_url }}">
              <a href="{{ '/pages/305' | relative_url }}" rel="noopener">Pharmaceutical Industry</a>
            </li>

            <li class="divider"></li>
            <li class="header">Ⅳ. History Science</li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%97%AD%EC%82%AC%EA%B3%BC%ED%95%99/%E2%96%B7%20%EC%84%B8%EA%B3%84%EC%82%AC" rel="noopener">World History</a></li>
            <li class="chapter{% if page.url == '/pages/488' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/488' | relative_url }}">
              <a href="{{ '/pages/488' | relative_url }}" rel="noopener">Korean History</a>
            </li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%97%AD%EC%82%AC%EA%B3%BC%ED%95%99/%E2%96%B7%20%EA%B3%BC%ED%95%99%EC%82%AC" rel="noopener">Science History</a></li>
            <li class="chapter{% if page.url == '/pages/1967' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/1967' | relative_url }}">
              <a href="{{ '/pages/1967' | relative_url }}" rel="noopener">Economic History</a>
            </li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%97%AD%EC%82%AC%EA%B3%BC%ED%95%99/%E2%96%B7%20%EC%A2%85%EA%B5%90%EC%82%AC" rel="noopener">Religion History</a></li>

            
            {% for collection in site.collections %}
                <!-- <p>{{ collection.label }}</p> -->
            
                {% if collection.output %}
                    <!-- 아래가 _posts 폴더를 인식하는 핵심 코드 -->
                    {% if collection.label == "posts" %}  
                        {% assign reversed_posts = site[collection.label] | reverse %}
                    {% else %}
                         {% assign reversed_posts = site[collection.label] %} 
                    {% endif %}
            
                    <!--
                    {% for post in reversed_posts %}
                        {% if page.url == post.url %}
                        <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                        {% else %}
                        <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                        {% endif %}
                            <a href="{{site.baseurl}}{{post.url}}">
                                {{ post.title | escape }}
                            </a>
                            {% if site.toc.enabled %}
                                {% if page.url == post.url %}
                                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                    -->
            
                        
                    {% if reversed_posts.size > 0 %}
                        <li class="divider"></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            
            <!--            
            <li>
                <a href="https://nate9389.tistory.com/" target="blank" class="gitbook-link">
                    Originally, I wrote them in Korean!
                </a>
            </li>
            -->
        </ul>
    </nav>
</div>
