<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>

            
            <!-- I added the below -->
            <li class="divider"></li>
            <li class="chapter"><a href="https://www.linkedin.com/in/jeongbin-park-04aa66246/" rel="noopener">Who am I?</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/" rel="noopener">Originally, I wrote them in Korean!</a></li>
            <li class="chapter"><a href="mailto:nate9389@gmail.coml" rel="noopener">jeongbp@umich.edu</a></li>
            
            <!-- I added the below -->

            <li class="divider"></li>
            <li class="header">Ⅰ. Nature Science</li>
            <li class="chapter{% if page.url == '/pages/482' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/482' | relative_url }}">
              <a href="{{ '/pages/482' | relative_url }}" rel="noopener">Philosophy</a>
            </li>
            <li class="chapter{% if page.url == '/pages/764' %} active{% endif %}"
                data-level="1.2"
                data-path="{{ '/pages/482' | relative_url }}">
              <a href="{{ '/pages/482' | relative_url }}" rel="noopener">General Mathematics</a>
            </li>
            <li class="chapter"><a href="https://jb243.github.io/pages/659" rel="noopener">Geometry</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1014" rel="noopener">Algebra</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1829" rel="noopener">Calculus</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/167" rel="noopener">Number Theory</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1641" rel="noopener">Combinatorics·Statistics</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/660" rel="noopener">Modern Mathematics</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/341" rel="noopener">Cryptography·Security</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1278" rel="noopener">Algorithm·Machine Learning</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20KMC%20%EC%88%98%ED%95%99%EA%B2%BD%EC%8B%9C%EB%8C%80%ED%9A%8C%20%EA%B3%A0%EB%93%B1%EB%B6%80" rel="noopener">KMC Math Competition</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20%ED%95%9C%EA%B5%AD%EC%88%98%ED%95%99%EC%98%AC%EB%A6%BC%ED%94%BC%EC%95%84%EB%93%9C%20%EA%B3%A0%EB%93%B1%EB%B6%80" rel="noopener">Korean Mathematical Olympiad High School</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/2185" rel="noopener">Korean Mathematics Competition for College Students</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20%EB%8F%84%EC%8B%9C%EB%8C%80%ED%95%AD%EA%B5%AD%EC%A0%9C%ED%86%A0%EB%84%88%EB%A8%BC%ED%8A%B8%28Toft%29" rel="noopener">Tournament of Towns for Math Competition</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/725" rel="noopener">Physics</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1592" rel="noopener">Thermodynamics</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/737" rel="noopener">Hydrodynamics·Transfer Phenomenon</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/218" rel="noopener">Material·Solid Mechanics</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1980" rel="noopener">Mechanical Engineer Exam</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/852" rel="noopener">Circuit Theory</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/2092" rel="noopener">Electrical Engineer Exam</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/613" rel="noopener">Signal Processing Theory</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1909" rel="noopener">Control Theory</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/788" rel="noopener">Computer Science</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1563" rel="noopener">Logic Design</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1771" rel="noopener">Operating System</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1796" rel="noopener">Information Technology</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1565" rel="noopener">Information Management Engineer Exam</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/373" rel="noopener">Big Data Analyst Exam</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/802" rel="noopener">C,C++</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/903" rel="noopener">Java</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/786" rel="noopener">Python</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1761" rel="noopener">RStudio</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20%EC%9B%B9%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D" rel="noopener">Web Programming</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20%EA%B8%B0%ED%83%80%20%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%20%EC%96%B8%EC%96%B4" rel="noopener">Other Programming Language</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20IoT" rel="noopener">IoT</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1362" rel="noopener">Chemistry</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1483" rel="noopener">Organic Chemistry</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/2396" rel="noopener">Chemoinformatics</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1488" rel="noopener">Dangerous Goods Engineer Exam</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1457" rel="noopener">Biology</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1202" rel="noopener">Medical Imaging</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/577" rel="noopener">Brain Science Olympiad</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/836" rel="noopener">Bioinformatics</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1566" rel="noopener">Earth Science</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20MEET%E2%88%99DEET%E2%88%99PEET%20%ED%92%80%EC%9D%B4" rel="noopener">MEET∙DEET∙PEET Solutions</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%20%EB%B3%80%EB%A6%AC%EC%82%AC%20%ED%92%80%EC%9D%B4" rel="noopener">Korean Patent Attorney Exam</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9E%90%EC%97%B0%EA%B3%BC%ED%95%99/%E2%96%B7%205%EA%B8%89%20%EA%B8%B0%EC%88%A0%EA%B3%A0%EC%8B%9C%20%ED%92%80%EC%9D%B4" rel="noopener">Korean Public Officer Exam</a></li>

            <li class="divider"></li>
            <li class="header">Ⅱ. Human Science</li>
            <li class="chapter"><a href="https://jb243.github.io/pages/523" rel="noopener">Psychology</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/2305" rel="noopener">Literature·Nonliterature</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/914" rel="noopener">Art</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/312" rel="noopener">Language</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/2175" rel="noopener">English</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1492" rel="noopener">Spanish</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9D%B8%EB%AC%B8%EA%B3%BC%ED%95%99/%E2%96%B7%20%EC%A4%91%EA%B5%AD%EC%96%B4%C2%B7%ED%95%9C%EC%9E%90" rel="noopener">Chinese</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/297" rel="noopener">Cooking</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/657" rel="noopener">Traveling</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/2194" rel="noopener">Studying Abroad</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%9D%B8%EB%AC%B8%EA%B3%BC%ED%95%99/%E2%96%B7%20%EA%B8%B0%ED%83%80%20%EC%83%9D%ED%99%9C%EC%A0%95%EB%B3%B4" rel="noopener">Other Living Information</a></li>

            <li class="divider"></li>
            <li class="header">Ⅲ. Social Science</li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1733" rel="noopener">Law Theory</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/797" rel="noopener">Constitutional Law</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1797" rel="noopener">Civil Law</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1722" rel="noopener">Civil Procedure Act</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/2394" rel="noopener">Criminal Law</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/2395" rel="noopener">Criminal Procedure Act</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/224" rel="noopener">Intellectual Property Law</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/181" rel="noopener">Other Law</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/194" rel="noopener">Collective Behavioral Science</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1033" rel="noopener">Business Management</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1880" rel="noopener">Microeconomics</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/2027" rel="noopener">Macroeconomics</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/627" rel="noopener">ASA∙FSA</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%82%AC%ED%9A%8C%EA%B3%BC%ED%95%99/%E2%96%B7%20%EC%A0%95%EC%B1%85%ED%95%99" rel="noopener">Policy</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/305" rel="noopener">Pharmaceutical Industry</a></li>

            <li class="divider"></li>
            <li class="header">Ⅳ. History Science</li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%97%AD%EC%82%AC%EA%B3%BC%ED%95%99/%E2%96%B7%20%EC%84%B8%EA%B3%84%EC%82%AC" rel="noopener">World History</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/488" rel="noopener">Korean History</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%97%AD%EC%82%AC%EA%B3%BC%ED%95%99/%E2%96%B7%20%EA%B3%BC%ED%95%99%EC%82%AC" rel="noopener">Science History</a></li>
            <li class="chapter"><a href="https://jb243.github.io/pages/1967" rel="noopener">Economic History</a></li>
            <li class="chapter"><a href="https://nate9389.tistory.com/category/%E2%96%B6%20%EC%97%AD%EC%82%AC%EA%B3%BC%ED%95%99/%E2%96%B7%20%EC%A2%85%EA%B5%90%EC%82%AC" rel="noopener">Religion History</a></li>


            
            {% for collection in site.collections %}
                <!-- <p>{{ collection.label }}</p> -->
            
                {% if collection.output %}
                    <!-- 아래가 _posts 폴더를 인식하는 핵심 코드 -->
                    {% if collection.label == "posts" %}  
                        {% assign reversed_posts = site[collection.label] | reverse %}
                    {% else %}
                         {% assign reversed_posts = site[collection.label] %} 
                    {% endif %}
            
                    <!--
                    {% for post in reversed_posts %}
                        {% if page.url == post.url %}
                        <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                        {% else %}
                        <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                        {% endif %}
                            <a href="{{site.baseurl}}{{post.url}}">
                                {{ post.title | escape }}
                            </a>
                            {% if site.toc.enabled %}
                                {% if page.url == post.url %}
                                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                    -->
            
                        
                    {% if reversed_posts.size > 0 %}
                        <li class="divider"></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            
            <!--            
            <li>
                <a href="https://nate9389.tistory.com/" target="blank" class="gitbook-link">
                    Originally, I wrote them in Korean!
                </a>
            </li>
            -->
        </ul>
    </nav>
</div>
